.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

marquee {
  width: 500px;
  color: #cc00ff;
  font-size: 25px;
}

header {
  font-size: 45px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  color: red;
  display: flex;
  align-items: center;
}

.query {
  width: 900px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.5);
  height: 250px;
  overflow-y: scroll;
  font-size: 18px;
  margin: 20px 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.action-button {
  width: 200px;
  height: 100px;
  border: 8px solid #fb00ff;
  background: blue;
  color: #fd82ff;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
}

.migrate-button {
  width: 100%;
  height: 150px;
  border: 8px solid #fb00ff;
  background: orange;
  color: #33ff00;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

.success {
  font-size: 65px;
  color: #b400ff;
  font-weight: bold;
  margin: 30px 0;
}
